
div[class="more-news"] {
  display: none;
}
section[id="news-body"] {
    div[class="news-body-container"],div[class="news-body-container_l"] {
      //border: 1px solid black;
      grid-template-areas: "picture-headline picture-headline picture-headline"
                           "aside aside aside"
                           "twin-blog twin-blog twin-blog";

      div[class="twin-blog"] {
        display:bloc;
      }
  
        div[class="aside"] {
            display: grid;
            grid-template-columns: repeat(2, 50%);
            grid-template-areas: "aside-1 aside-2";
            div[class="thumbnail"] {
              display: block;
            }
        }
        .aside-1, .aside-2 {
          //border:1px solid red;
        }
      }
      div[class="news-body-container_l"] {
        div[class="twin-blog_l"] {
          display:block;
        }
        //border: 1px solid black;
        grid-template-areas: "picture-headline_l picture-headline_l picture-headline_l"
                             "aside_l aside_l aside_l"
                             "twin-blog_l twin-blog_l twin-blog_l";
      
          div[class="aside_l"] {
            grid-template-columns: repeat(2, 50%);
            grid-template-areas: "aside-1 aside-2";
            div[class="thumbnail"] {
              display: block;
            }
          }
        }
    
  }