section[id="breaknewsTablet"] {
  padding-top:4%;
  div[id="ruban"] {
    background-color: #d8361e;
    color: white;
    font-family: Work Sans,sans-serif;
    color: white;
    width: fit-content;
    margin: 0;
    margin-left: 9%;
    padding: 0.1% 1.4%;
    p {
      font-weight: bold;
      font-size: 0.69em;
      
    }
  }

  div[id="breakingNews"] {
    div[class="container"] {
        div {
         
        }
        display: grid;
        grid-template-columns: 10% 80% 10%;
        grid-template-rows: auto;
        grid-template-areas: "prevArrow carouselSlides nextArrow";
        .prevArrow {
          grid-area: prevArrow;
          font-size: 2.5rem;
          // border:1px solid red;
          padding: 30% 0 0 10%;
          color: gray;
        }
        .nextArrow {
          grid-area: nextArrow;
          font-size: 2.5rem;
          // border:1px solid orchid;
          padding: 30% 0 0 25%;
          color: gray;
        }

        .carousel__slides {
          grid-area: carouselSlides;
            div[class="newsCouple"] {
              margin-top: 1%;
              display: grid;
              grid-template-columns: 50% 50%;
              grid-template-rows: auto;
              grid-template-areas: "news-1 news-2";
              font-family: Work Sans,sans-serif;
              
             
              .newsTime {
                color: #737373;
                font-size: 0.8em;
                
                line-height: 1.17;
              }
              .headline {
                font-weight: bolder;
              }
              .news-1 {
                grid-area: news-1;
              }
              .news-2 {
                grid-area: news-2;
              }
              div[class="headline"] {
                padding-top: 2%;
                color: #333;
                
              }
            
          }
         
        }

       
    }
  }
}

.hideSlide {
  display: none;
  // border:1px solid orangered;
}


.newsCouple {
    animation: slide 1s ease-in;
    animation-delay: 2s;
}

@keyframes  slide {
  100%{left: 0}
}
