header {
  .hamburger {
    padding-top: 26.3%;
    font-size: 1.7em;
  }
  .logo {
    text-align: center;
  }
}

section[id="breaknewsTablet"] {
  display: none;
}


section[id="breaknewsLaptop"] {
  display: block;
}


@import 'carouselLaptop';
@import 'bodyNewsLaptop';
@import 'quotesLaptop';