@mixin newsHeaderMobile($color) {
    color: $color;
    font-family: Work Sans,sans-serif;
    border-top: 4px solid $color;
    display: flex;
    flex-direction: row;
    margin: 20% 0 3% 0;
    padding: 5% 1% 3% 3%;
    div[class*="news-arrow"]{
        display: flex;
        justify-content: flex-end;
        width: 70%;
        padding-right: 1rem;
    }
    div[class*="news-title"]{
        font-size: 1.6rem;
        font-weight: bold;
        width: 30%;
    }
  
}

//tablet
@mixin newsHeaderTablet($color) {
    //border-top: 2px solid $color;
    color: $color;
    font-family: Work Sans,sans-serif;
    max-width: 80%;
    border-top: 4px solid $color;
    border-bottom: 1px solid $color;
    display: flex;
    flex-direction: row;
    margin: 10% auto 5% auto;
    padding: 2% 1% 2% 3%;
    div[class*="news-arrow"]{
        display: flex;
        justify-content: flex-end;
        width: 70%;
    }
    div[class*="news-title"]{
        font-size: 1.6rem;
        font-weight: bold;
        width: 30%;
    }
  
}

//laptop
@mixin newsHeaderLaptop($color,$x) {
    //border-top: 2px solid $color;
    color: $color;
    font-family: Work Sans,sans-serif;
    max-width: 87%;
    border-top: 4px solid $color;
    border-bottom: 1px solid $color;
    display: flex;
    flex-direction: row;
    margin: 10% auto 5% auto;
    padding: 1.5% 1% 1.5% 0;
    div[class*="news-arrow"]{
        display: flex;
        justify-content: flex-start;
        width: 90%;
        padding-top: 0.7%;
        padding-left: $x;
    }
    div[class*="news-title"]{
        font-size: 1.6rem;
        font-weight: bold;
        width: 10%;
    }
  
}

@mixin asideInnerDesign {
    div[class*="aside-"] {
        //border:1px solid green;
        margin-bottom: 19%;
      }
      div[class="thumbnail"] {
       img {
         width: 100%;
       }
      }
      div[class="thumbnail-h"] {
        margin-bottom: 10%;  
        h3:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
      div[class="thumbnail-mini-h"] {
        font-size: 0.85em;
        color: $noSoBlack;
      }
}

@mixin twinBlockQuadrupets {
    display: flex;
    flex-direction: row;
    div[class="img"] {
      padding-right: 5%;
    }
    div[class="caption"] {
      padding: 0;
      font: 15px "calibri";
      font-weight: bold;
      span[class="by"] {
        font-size: 0.85em;
        color: $noSoBlack;
      }
      .caption-p:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
}

@mixin mini-caption {
  //width: 90%;
  //margin: auto;
  //text-align: center;
  font-size: 0.85em;
  color: $noSoBlack;
  //border-bottom: 1px solid $newsBorders;
  padding: 0 0 8% 0;
}

@mixin social-media-mini-logos {
  div[class="slang"] {
    max-width: 80%;
    margin: auto;
    padding-bottom:1rem ;
    padding-top:1rem ;
    color: #353333;
    display: flex;
    flex-direction: column;
    border-top: 1px solid rgb(226, 224, 224);
    border-bottom: 1px solid rgb(226, 224, 224);
    
  }
  
}

