@import "mixin";
section[id="news-body"] {
  margin-top: 5%;
}
header {
  grid-template-columns: 7% 85% 8%;
  div {
    padding-bottom: 1.3%;
    // border: 1px solid orange;
  }
  .hamburger {
    grid-area: hamburger;
    padding-top: 39.3%;
    text-align: center;
    font-size: 1.7em;
  }
  .logo {
    grid-area: logo;
    font-size: 2.76em;
    padding-top: 1.3%;
    // border: 1px solid palevioletred;
  }
  .searchIcon {
    grid-area: searchIcon;
    padding-top: 32%;
    text-align: center;
    font-size: 1.7em;
  }
}
section[id="breaknewsLaptop"] {
  display: none;
}

div[class="twin-blog"],
div[class="twin-blog_l"] {
  display: block;
}

section[id="breaknewsTablet"] {
  display: block;
}
div[class*="news-header-money"] {
  @include newsHeaderTablet(#598141);
}
div[class*="news-header-video"] {
  @include newsHeaderTablet(#4a37a0);
}
div[class*="news-header-lifestyle"] {
  @include newsHeaderTablet(#660434);
}
div[class*="news-header-leadership"] {
  @include newsHeaderTablet(#887411);
}
div[class*="news-header-innovation"] {
  @include newsHeaderTablet(#0066b2);
}
@import "carouselTablet";
@import "bodyNewsTablet";
@import "quotesTablet";
@import "footerTablet";
@import "first-news-tablet";
